$accent-color: #eb9842;
$accent-dark: rgb(164,72,44);
$primary-color: rgb(22,77,101);
$color-lighter: rgb(95,134,150);

.btn {
  background-color: $primary-color;

  &:hover {
    background-color: $color-lighter;
  }
}

input:focus {
  border-bottom: 1px solid $accent-color;
  -webkit-box-shadow: 0 1px 0 0 $accent-color;
  -moz-box-shadow: 0 1px 0 0 $accent-color;
  box-shadow: 0 1px 0 0 $accent-color;
}

nav {
  margin-top: 15px;
  background-color: rgba(0,0,0,0);

  a {
    color: $primary-color !important;

    &:hover {
        color: $color-lighter !important;
    }
  }
}

.ng-cloac {
  display: none;
}

.slug {
  background-image: url("../images/background.gif");
  background-size: cover;
  border-top: 8px solid $accent-dark;
  border-bottom: 8px solid $accent-dark;
}

.intro {
  text-align: center;
  padding-top: 30px !important;
  padding-bottom: 20px !important;
  font-size: 1.3em;
}

.clock {
  position: relative;
  top: -14.5px;
  margin-right: 10px;
}

.filter, .filters {
  border-radius: 5px;
}

.filters {
  background-color: rgba(0,0,0,0.3);
  margin: 0px;
}

.filter {
  display: block;
  background-color: rgba(256,256,256, 0.3);
  height: 76px;
}

.sessionTile {
  border-radius: 5px;

  .card-title {
    font-weight: normal;
  }

  .card-image {
    border-radius: 5px 5px 0px 0px;
  }

  .card-reveal {
    border-radius: 5px;
  }
}

.register {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);

  .card {
    padding: 20px;
  }

  .close {
    position: relative;
    cursor: pointer;
  }
}

.selected {
  background-color: black;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.imageSearch {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);

  .card {
    position: relative;
    display: block;
    padding: 20px;
    width: 800px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
  }

  .close {
    position: relative;
    cursor: pointer;
  }
}

.carousel {
  height: 300px;
  max-height: 60%;
}

#createSession {
  margin-bottom: 30px;
}


#local-video {
  height: 50vh;
  max-width: 100%;
}

#remote-video {
  height: 50vh;
  max-width: 100%;
  video {
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

.video {
  background-color: $primary-color;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: auto;
}

video {
  /*width: 100%;*/
}

.video-header {
  text-align: center;
  color: white;
}

.session-live {
}

.dojo {
  background-color: $color-lighter;
}

.dojo-header {

  .card-panel {
  }
  margin-top: 5px;
  font-weight: light;

  .topic, .time {
    font-size: 1.75em;
    margin: 2px;
  }
  .desc {
    max-height: 100%;
    max-width: 1000px;
    text-overflow: ellipsis;
    overflow: hidden;

  }
  h3 {
    font-size: 1em;
    font-style: italic;
  }
  h4 {
    font-size: 0.75em;
  }

  .card-panel {
    padding-top: 2px;
    padding-bottom: 4px;
  }
}

.dojo-banner {
  color: $primary-color;
  font-weight: heavy;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  font-size: 2.5em;
}

.sessions-header {
  background-color: $primary-color;
  padding: 5px 0;
}
.username-header {
  background-color: $accent-dark;
  padding: 5px 0;
}


